@use "sass:math";
@use "sass:list";

$quantity: 20;
$highlight-colors: (
  /* #c586c0, // purple (functions)
  #9cdcfe, // blue (variables)
  #ce9178, // peach (strings)
  #dcdcaa, // yellow (numbers)
  #569cd6, // light blue (keywords)
  #4ec9b0, // teal (types)
  #d16969  // red (errors)*/
    #fcd34d
);

#background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 0;
}

/*body {
  background: url("https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg");
  background-size: cover;
}*/

.firefly {
  position: absolute;
  font-size: 1rem;
  /*color: #fcd34d;
  text-shadow: 0 0 10px #fcd34d;*/
  animation: drift 30s ease-in-out infinite alternate;
  pointer-events: none;
  user-select: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }

  &::before {
    background: #121212;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }

  &::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #fcd34d;
    animation: drift ease alternate infinite, flash ease infinite;
    /*text-shadow:
    0 0 6px #fcd34d,
    0 0 12px #fcd34d,
    0 0 20px #fcd34d;*/
    content: attr(data-char);
  }
}

// Generate variations per firefly instance
@for $i from 1 through $quantity {
  $rotationSpeed: math.random(10) + 8s;
  //$color: list.nth($highlight-colors, ($i % list.length($highlight-colors)) + 1);
  $color: list.nth(
    $highlight-colors,
    ($i % list.length($highlight-colors)) + 1
  );

  .firefly:nth-child(#{$i}) {
    left: calc(#{math.random(90)} * 1%); // instead of 100%
    top: calc(#{math.random(90)} * 1%);
    animation-duration: #{math.random(60) + 20}s;
    color: $color;
    text-shadow: 0 0 10px $color;

    &::before {
      animation-duration: $rotationSpeed;
    }

    &::after {
      animation-duration: $rotationSpeed, #{math.random(6000) + 5000}ms;
      animation-delay: 0ms, #{math.random(8000) + 500}ms;
      text-shadow: 0 0 6px $color, 0 0 12px $color, 0 0 20px $color;
    }
  }
}

@keyframes drift {
  0% {
    transform: translate(0, 0) rotate(-5deg);
  }
  100% {
    transform: translate(3vw, -3vh) rotate(5deg);
  }
}

@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw currentColor;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw currentColor;
  }
}
